.git
.github
.editorconfig
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
docs
README.md
